:root {
  --black: #00000033;
  --white: #fff;

  --light-blue: #2ab5cc;

  --navbar-background: #2ab5cc;

  --btn-theme: #1c8a9c;
  --btn-theme-hover: #2b7480;

  --monarch-program: #ea9f22;

  --monarch: #fcb13bbf;
  --btn-monarch: #fcb13b;
  --btn-monarch-hover: #fcb13bdc;

  --lifepac: #2ab5ccbf;
  --btn-lifepac: #27b6cd;
  --btn-lifepac-hover: #27b6cddc;

  --horizon: #7686c5bf;
  --btn-horizon: #7686c5;
  --btn-horizon-hover: #7686c5dc;

  --ignite: #45447fbf;
  --btn-ignite: #45447f;
  --btn-ignite-hover: #45447fdc;

  --robotify: #ee5253bf;
  --btn-robotify: #ee5253;
  --btn-robotify-hover: #ee5253dc;

  --btn-help: #003c51;
  --btn-help-hover: #003c51dc;

  --btn-learn: #374151;
  --btn-learn-border: #d1d5db;
  --btn-learn-border-hover: #212529;

  --product-card-title: #343a40;

  --bottom-section: #e5fafb;
  --bottom-text: #828282;
  --bottom-heading: #374151;
  --block-quote: #6b7280;

  --btn-bottom: #111827;

  --footer-background: #1f2937;
  --footer-link: #d1d5db;
  --footer-text: #d1d5db;
  --footer-icon: #9ca3af;

  --footer-btn-sticky: #2190a3;
}

body {
  font-family: "Open Sans", sans-serif;
}

.top-bar {
  background-color: var(--light-blue);
  color: white;
  font-size: 0.9rem;
}

@media (max-width: 767.98px) {
  html {
    font-size: 14px;
  }
  .top-bar {
    font-size: 0.8rem;
  }
}

@media (max-width: 575.98px) {
  html {
    font-size: 12px;
  }
  .top-bar {
    font-size: 0.85rem;
  }
}

@media (min-width: 992px) {
  .top-bar {
    font-size: 0.95rem;
  }
}

.nav-link:hover {
  color: var(--btn-theme);
}

.hero-section {
  background: url("assets/hero-background.png") no-repeat center center;
  background-size: cover;
  color: white;
  padding: 120px 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.hero-content {
  position: relative;
  z-index: 2; /* Ensures content is above the overlay */
}

.hero-section h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  line-height: 1.2;
}

.hero-section p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  opacity: 0.95;
}

.cta-button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0.375rem;
}

.cta-button:hover {
  border-color: white;
}

@media (max-width: 768px) {
  .hero-section {
    padding: 80px 0;
  }

  .hero-section h1 {
    font-size: 2.5rem;
  }

  .hero-section p {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .hero-section {
    padding: 60px 0;
  }

  .hero-section h1 {
    font-size: 2rem;
  }

  .hero-section p {
    font-size: 1rem;
  }

  .cta-button {
    padding: 10px 0.8rem;
    font-size: 0.9rem;
  }
}
